<!-- Main content-->
<section class="content" ng-controller="thingularCtrl">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-config"></i>
                    </div>
                    <div class="header-title">
                        <h3 class="m-b-xs">Register Networks</h3>
                        <small>
                            Register a new network
                        </small>
                    </div>
                </div>
                <hr>
            </div>
        </div>


        <form ng-submit="registerNetwork()">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group"><label for="rnID" class="control-label" >Network ID</label>
                        <div>
                            <input ng-model="rnID" type="text" class="form-control" id="rnID" placeholder="Network ID can be numeral or alphabets">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group"><label for="rnName" class="control-label">Network Name</label>
                        <div><input ng-model="rnName" type="text" class="form-control" id="rnName" placeholder="Network Name"></div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="form-group"><label for="rnDes" class="control-label">Description</label>
                    <div><input ng-model="rnDes" type="text" class="form-control" id="rnDes" placeholder="Description"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-accent" type="submit"  ladda="submit" data-style="expand-right"  style="color:#FFFFFF">Register Network</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- End main content-->
