<!-- Main content-->
<section class="content" ng-controller="thingularCtrl">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-config"></i>
                    </div>
                    <div class="header-title">
                        <h3 class="m-b-xs">View Networks</h3>
                        <small>
                            View a list of networks that you have
                        </small>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Network ID</th>
                            <th>Description</th>
                            <th>Node Count</th>
                            <th>Data Types</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="network in user.networks">
                            <td>{{network.name}}</td>
                            <td>{{network.networkID}}</td>
                            <td>{{network.description}}</td>
                            <td>{{network.nodeCount}}</td>
                            <td>{{network.dataType.toString()}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End main content-->
