<!-- Main content-->
<section class="content">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-center" style="height:0; overflow:visible;">
            <h1 style="color: #f6a821;font-size: 50px;">Thingular</h1>
        </div>
    </div>
    <div class="container-center animated slideInDown">
        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-unlock"></i>
            </div>
            <div class="header-title">
                <h3>Login</h3>
                <small>
                    Please enter your credentials to login.
                </small>
            </div>
        </div>

        <div class="panel panel-filled">
            <div class="panel-body">
                <form action="index.html" id="loginForm" novalidate>
                    <div class="form-group">
                        <label class="control-label" for="username">Username</label>
                        <input type="text" placeholder="example@gmail.com" title="Please enter you username" required="" value="" name="username" id="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">Password</label>
                        <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control">
                        <p class="text-right"><a ui-sref="commonviews.forgotpassword">Forgot your password?</a></p>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <button class="btn btn-accent">Login</button>
                        </div>
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" ui-sref="commonviews.register">Register</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<!-- End main content-->