<!-- Main content-->
<section class="content">
    <div class="container-center lg animated slideInDown">
        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-add-user"></i>
            </div>
            <div class="header-title">
                <h3>Register</h3>
                <small>
                    Please enter your data to register.
                </small>
            </div>
        </div>

        <div class="panel panel-filled">
            <div class="panel-body">
                <p>

                </p>
                <form action="index.html" id="loginForm" novalidate>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>Username</label>
                            <input type="" value="" id="username" class="form-control" name="">
                            <span class="help-block small">Your unique username to app</span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Password</label>
                            <input type="password" value="" id="password" class="form-control" name="">
                            <span class="help-block small">Your hard to guess password</span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Repeat Password</label>
                            <input type="password" value="" id="repeatpassword" class="form-control" name="">
                            <span class="help-block small">Please repeat your pasword</span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Email Address</label>
                            <input type="" value="" id="email" class="form-control" name="">
                            <span class="help-block small">Your address email to contact</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <button class="btn btn-accent">Register</button>
                        </div>
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" ui-sref="commonviews.login">Login</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<!-- End main content-->