<!-- Main content-->
<section class="content" ng-controller="thingularCtrl">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-config"></i>
                    </div>
                    <div class="header-title">
                        <h3 class="m-b-xs">Register Listeners</h3>
                        <small>
                            Register a new listener, which executes every time a data packet is synced
                        </small>
                    </div>
                </div>
                <hr>
            </div>
        </div>


        <form ng-submit="registerListener()">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Network</label>
                        <select class="form-control" ng-model="rliNetwork">
                            <option ng-repeat="network in user.networks" value="{{$index}}">{{network.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Node</label>
                        <select class="form-control" ng-model="rliNode">
                            <option ng-repeat="node in user.networks[rliNetwork].nodes" value="{{$index}}">{{node.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="form-group"><label for="rliScript" class="control-label">Script</label>
                        <div><input ng-model="rliScript" type="text" class="form-control" id="rliScript" placeholder="Script to be executed"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-accent" type="submit"  ladda="submit" data-style="expand-right"  style="color:#FFFFFF">Register Trigger</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- End main content-->
