<!-- Main content-->
<section class="content" ng-controller="thingularCtrl">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-config"></i>
                    </div>
                    <div class="header-title">
                        <h3 class="m-b-xs">View listener</h3>
                        <small>
                            View a list of listeners that you have, listeners are called every time a sync happens
                        </small>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table  ng-repeat="network in user.networks" class="table table-hover table-striped table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>Network ID</th>
                            <th>Node ID</th>
                            <th>Script</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="node in network.nodes">
                        <tr ng-repeat="listener in node.listeners">
                            <td>{{network.networkID}}</td>
                            <td>{{node.nodeID}}</td>
                            <td>{{listener.script}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End main content-->
