<!DOCTYPE html>
<html ng-app="thingular">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Font - Roboto -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>
    <!-- Font Awesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.min.css"/>
    <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" />
    <link rel="stylesheet" href="bower_components/ladda/dist/ladda-themeless.min.css">
    <link rel="stylesheet" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="bower_components/openlayers3/build/ol.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/style.css -->
    <link rel="stylesheet" href="styles/pe-icons/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="styles/pe-icons/helper.css" />
    <link rel="stylesheet" href="styles/stroke-icons/style.css" />
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/xterm.css" />
    <link rel="stylesheet" href="styles/angular-openlayers-directive.css" />
    <link href="graphing/Library/c3/c3.css" rel="stylesheet" type="text/css">

    <!-- endbuild -->

    <style>
        #chat_app {padding: 3px; bottom: 0;}
        #chat_app input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
        #chat_app button { width: 9%; border: none; padding: 10px; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; color: #FFFFFF}
        #terminal-container.body {
            font-family: helvetica, sans-serif, arial;
            font-size: 1em;
            color: #111;
        }
        #terminal-container.h1 {
            text-align: center;
        }
        #terminal-container {
            width: 960px;
            height: 600px;
            margin: 0 auto;
            padding: 2px;
        }
        #terminal-container .terminal {
            background-color: #111;
            color: #fafafa;
            padding: 2px;
        }
        #terminal-container .terminal:focus .terminal-cursor {
            background-color: #fafafa;
        }
    </style>

    <script>
        window.paceOptions = {
            ajax: {
                trackMethods: ["GET", "POST"],
                trackWebSockets: false
            },
            restartOnPushState: false
        };
    </script>

</head>

<!-- Body -->
<!-- appCtrl controller with several data used in theme on different view -->
<body  class="{{$state.current.data.specialClass}}">


<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Page view wrapper -->
<div ui-view></div>

<!-- build:js(.) scripts/vendor.js -->
<script src="bower_components/PACE/pace.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/sparkline/index.js"></script>
<script src="bower_components/Flot/jquery.flot.js"></script>
<script src="bower_components/Flot/jquery.flot.resize.js"></script>
<script src="bower_components/jquery.flot.spline/index.js"></script>
<script src="bower_components/angular-flot/angular-flot.js"></script>
<script src="bower_components/d3/d3.min.js"></script>
<script src="bower_components/topojson/topojson.min.js"></script>
<script src="bower_components/datamaps/dist/datamaps.all.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-datamaps/dist/angular-datamaps.min.js"></script>
<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="bower_components/angular-ui-sortable/sortable.min.js"></script>
<script src="bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="bower_components/pdfmake/build/pdfmake.min.js"></script>
<script src="bower_components/pdfmake/build/vfs_fonts.js"></script>
<script src="bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="bower_components/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/buttons/angular-datatables.buttons.min.js"></script>
<script src="bower_components/angular-datatables/dist/angular-datatables.min.js"></script>
<script src="bower_components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
<script src="bower_components/bootstrap-angular-validation/dist/bootstrap-angular-validation-all.min.js"></script>
<script src="bower_components/ladda/dist/spin.min.js"></script>
<script src="bower_components/ladda/dist/ladda.min.js"></script>
<script src="bower_components/angular-ladda/dist/angular-ladda.min.js"></script>
<script src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="bower_components/ng-scrollbars/dist/scrollbars.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/config.js"></script>
<script src="scripts/functions.js"></script>
<script src="scripts/socket.io.js"></script>
<script src="scripts/directives/directives.js"></script>
<script src="scripts/controllers/navigation.js"></script>
<script src="scripts/controllers/dashboard.js"></script>
<script src="scripts/controllers/metrics.js"></script>
<script src="scripts/controllers/usage.js"></script>
<script src="scripts/controllers/activity.js"></script>
<script src="scripts/controllers/modal.js"></script>
<script src="scripts/controllers/alerts.js"></script>
<script src="scripts/controllers/draggable.js"></script>
<script src="scripts/controllers/datatables.js"></script>
<script src="scripts/controllers/flotcharts.js"></script>
<script src="scripts/controllers/sparklinecharts.js"></script>
<script src="scripts/controllers/profile.js"></script>
<script src="scripts/controllers/list.js"></script>
<script src="scripts/controllers/thingular.js"></script>
<script src="scripts/controllers/header.js"></script>
<script src="scripts/xterm.js"></script>
<script src="scripts/fit.js"></script>
<script src="scripts/ol.js"></script>
<script src="scripts/angular-openlayers-directive.min.js"></script>
<script type="text/javascript" src="graphing/Helpers.js"></script>
<script type="text/javascript" src="graphing/TransformGraphHelpers.js"></script>
<script type="text/javascript" src="graphing/UniversalGraph.js"></script>
<script type="text/javascript" src="graphing/Library/d3/d3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="graphing/Library/c3/c3.min.js"></script>
<!-- endbuild -->

</body>
</html>