<!-- Main content-->
<section class="content" ng-controller="thingularCtrl">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-config"></i>
                    </div>
                    <div class="header-title">
                        <h3 class="m-b-xs">Register Nodes</h3>
                        <small>
                            Register a new node
                        </small>
                    </div>
                </div>
                <hr>
            </div>
        </div>


        <form ng-submit="registerNode()">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Network</label>
                        <select class="form-control" ng-model="rnoNetwork">
                            <option ng-repeat="network in user.networks" value="{{network.networkID}}">{{network.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group"><label for="rnoID" class="control-label" >Node ID</label>
                        <div>
                            <input ng-model="rnoID" type="text" class="form-control" id="rnoID" placeholder="Node ID can be numeral or alphabets">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group"><label for="rnoName" class="control-label">Node Name</label>
                        <div><input ng-model="rnoName" type="text" class="form-control" id="rnoName" placeholder="Node Name"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group"><label for="rnoConnect" class="control-label">Connected To (Fill in -1 if not interested in connection)</label>
                        <div><input ng-model="rnoConnect" type="text" class="form-control" id="rnoConnect" placeholder="Node ID of the other node to be connected"</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group"><label for="rnoLat" class="control-label">Latitude</label>
                        <div><input ng-model="rnoLat" type="text" class="form-control" id="rnoLat" placeholder="Latitude"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group"><label for="rnoLon" class="control-label">Longitude</label>
                        <div><input ng-model="rnoLon" type="text" class="form-control" id="rnoLon" placeholder="Longitude"></div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="form-group"><label for="rnoDes" class="control-label">Description</label>
                    <div><input ng-model="rnoDes" type="text" class="form-control" id="rnoDes" placeholder="Description"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-accent" type="submit"  ladda="submit" data-style="expand-right"  style="color:#FFFFFF">Register Node</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- End main content-->
