<!-- Main content-->
<section class="content" ng-controller="thingularCtrl">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-config"></i>
                    </div>
                    <div class="header-title">
                        <h3 class="m-b-xs">View Nodes</h3>
                        <small>
                            View a list of nodes that you have
                        </small>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>Network ID</th>
                            <th>Name</th>
                            <th>Node ID</th>
                            <th>Description</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Data Types</th>
                            <th>Last Synced</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="network in user.networks">
                            <tr ng-repeat="node in network.nodes">
                                <td>{{network.networkID}}</td>
                                <td>{{node.name}}</td>
                                <td>{{node.nodeID}}</td>
                                <td>{{node.description}}</td>
                                <td>{{node.lat}}</td>
                                <td>{{node.lon}}</td>
                                <td>{{node.dataType.toString()}}</td>
                                <td>{{node.lastSyncTime}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End main content-->
