<div class="container-fluid" ng-controller="headerCtrl">
    <div class="navbar-header">
        <div id="mobile-menu">
            <minimaliza-menu></minimaliza-menu>
        </div>
        <a class="navbar-brand" href="" style="padding:20px 8px">
            THINGULAR
        </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <minimaliza-menu></minimaliza-menu>
        <ul class="nav navbar-nav navbar-right">
            <li class=" profil-link dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                    <span class="profile-address">{{profile_name}}</span>
                    <img src="images/profile.jpg" class="img-circle" alt="">
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header"><i class="icon-fixed-width icon-envelope-alt"></i> {{profile_email}} </li>
                    <!--<li><a href="" ui-sref="thingular.profile"><i class="icon-fixed-width icon-user"></i> My Profile </a></li>-->
                    <li><a href="" ng-controller="thingularCtrl" ng-click="logout()"><i class="icon-fixed-width icon-key"></i> Log Out </a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>