<!-- Navigation-->
<nav ng-controller="navigationCtrl">
    <ul class="nav luna-nav">
        <li class="nav-category">
            Main
        </li>
        <li ui-sref-active="active">
            <a ng-click="navSelected = 'dashboard'" ui-sref="thingular.dashboard">Dashboard</a>
        </li>
        <li ui-sref-active="active">
            <a ng-click="navSelected = 'datafeed'" ui-sref="thingular.datafeed">Data Feed</a>
        </li>
        <li ui-sref-active="active">
            <a ng-click="navSelected = 'livemap'" ui-sref="thingular.livemap">Live Map</a>
        </li>
        <li ng-class="{active: $state.includes('thingular.networks')}">
            <a href ng-click="navSelected = 'networks'">
                Networks <span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
            </a>
            <ul class="nav nav-second" uib-collapse="isSelected('networks', navSelected)">
                <li ui-sref-active="active"><a ui-sref="thingular.networks.view">View</a></li>
                <li ui-sref-active="active"><a ui-sref="thingular.networks.create">Create</a></li>
            </ul>
        </li>
        <li ng-class="{active: $state.includes('thingular.nodes')}">
            <a href ng-click="navSelected = 'nodes'">
                Nodes <span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
            </a>
            <ul class="nav nav-second" uib-collapse="isSelected('nodes', navSelected)">
                <li ui-sref-active="active"><a ui-sref="thingular.nodes.view">View</a></li>
                <li ui-sref-active="active"><a ui-sref="thingular.nodes.create">Create</a></li>
            </ul>
        </li>
        <li class="nav-category">
            Analysis Tools
        </li>
        <li ui-sref-active="active">
            <a ng-click="navSelected = 'script'" ui-sref="thingular.script">ThinkScript</a>
        </li>
        <li ng-class="{active: $state.includes('thingular.triggers')}">
            <a href ng-click="navSelected = 'triggers'">
                Triggers <span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
            </a>
            <ul class="nav nav-second" uib-collapse="isSelected('triggers', navSelected)">
                <li ui-sref-active="active"><a ui-sref="thingular.triggers.view">View</a></li>
                <li ui-sref-active="active"><a ui-sref="thingular.triggers.create">Create</a></li>
            </ul>
        </li>
        <li ng-class="{active: $state.includes('thingular.listeners')}">
            <a href ng-click="navSelected = 'listeners'">
                Listeners <span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
            </a>
            <ul class="nav nav-second" uib-collapse="isSelected('listeners', navSelected)">
                <li ui-sref-active="active"><a ui-sref="thingular.listeners.view">View</a></li>
                <li ui-sref-active="active"><a ui-sref="thingular.listeners.create">Create</a></li>
            </ul>
        </li>

        <li class="nav-info text-center">
            <i class="fa fa-connectdevelop fa-lg text-accent"></i>
            <div class="m-t-xs">
                <span class="c-white">Thingular</span> is an scalable API that connects the Internet of Things.
            </div>
        </li>
    </ul>
</nav>
<!-- End navigation-->