<!-- Main content-->
<section class="content" ng-controller="thingularCtrl">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-global"></i>
                    </div>
                    <div class="header-title">
                        <h3 class="m-b-xs">Dashboard</h3>
                        <small>
                            Overview of your network and node status
                        </small>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <a href="" ui-sref="thingular.networks.view" class="btn-block">
                <div class="panel panel-filled">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1 class="m-b-none">
                                    <i class="icon-fixed-width fa fa-sitemap fa-lg text-warning"></i>
                                    {{neT}}
                                </h1>
                                <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Updated: <span class="c-white">{{updateTime}}</span></div>
                            </div>
                            <div class="col-sm-6">
                                <h2 class="m-b-none pull-right">Networks</h2>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="" ui-sref="thingular.nodes.view" class="btn-block">
                <div class="panel panel-filled">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1 class="m-b-none">
                                    <i class="icon-fixed-width fa fa-code-fork fa-lg text-warning"></i>
                                    {{noT}}
                                </h1>
                                <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Updated: <span class="c-white">{{updateTime}}</span></div>
                            </div>
                            <div class="col-sm-6">
                                <h2 class="m-b-none pull-right">Nodes</h2>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="" ui-sref="thingular.triggers.view" class="btn-block" style="text-decoration: none">
                <div class="panel panel-filled">
                    <div class="panel-body">
                        <h2 class="m-b-none text-center">
                            <i class="icon-fixed-width fa fa-bell-o fa-lg text-warning"></i>
                            {{trT}}
                        </h2>
                        <div class="slight m-t-md text-center"><h4>Triggers</h4></div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="" ui-sref="thingular.listeners.view" class="btn-block" style="text-decoration: none">
                <div class="panel panel-filled">
                    <div class="panel-body">
                        <h2 class="m-b-none text-center">
                            <i class="icon-fixed-width fa fa-hourglass-half fa-lg text-warning"></i>
                            {{liT}}
                        </h2>
                        <div class="slight m-t-md text-center" style=""><h4>Listeners</h4></div>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel-body list p--b-xs">
                                <div class="stats-title pull-left">
                                    <h2>Data Graphs</h2>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="pull-left">
                                    <p>
                                        To visualize the collected data, please select from the options on the right,
                                        you can choose to view data at the top level, a network level or a node level.
                                        You can also select data types to display on the graph.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="panel panel-filled panel-c-accent">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="panel-heading">
                                            <h4>Select Level of View</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row text-center">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Network</label>
                                                        <select class="form-control" ng-model="networkSel" ng-change="updateTypeSel(1);"  style="color:#FFFFFF">
                                                            <option value="-1" ng-selected="networkSel == String(-1)">All</option>
                                                            <option ng-repeat="network in user.networks" value="{{$index}}" ng-selected="networkSel == $index.toString()">{{network.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Node</label>
                                                        <select class="form-control" ng-model="nodeSel" ng-change="updateTypeSel(2);"  style="color:#FFFFFF">
                                                            <option value="-1" ng-selected="networkSel == String(-1)">All</option>
                                                            <option ng-repeat="node in user.networks[networkSel].nodes" value="{{$index}}" ng-selected="nodeSel == $index.toString()">{{node.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row text-center">
                                                <div class="col-sm-12">
                                                    <label>Network: {{networkSel=="-1" ? "All" : user.networks[networkSel].name}}</label>
                                                    <br>
                                                    <label>Node: {{nodeSel=="-1" ? "All" : user.networks[networkSel].nodes[nodeSel].name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="panel-heading">
                                            <h4>Data Types</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive" ng-scrollbars ng-scrollbars-config="s_config">
                                                <div class="form-group">
                                                <table class="table table-hover table-striped table-bordered table-condensed">
                                                    <thead>
                                                    <tr>
                                                        <th>Data Type</th>
                                                        <th class="text-center">Display</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="dType in dataT"  style="color:#FFFFFF">
                                                        <td>{{dType}}</td>
                                                        <td class="text-center"><input type="checkbox" ng-model="$parent.dataSel[dType]"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-filled panel-body m-t-sm">
                    <div class="panel-header text-center p-m">
                        <div class="panel-heading">
                            <h4>Graphs</h4>
                            <h5>Select a time period to display, click a data series to hide it, middle wheel for zooming and click to drag graph</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="" class="btn btn-w-md btn-success btn-rounded" ng-click="chartReload(0,0)" style="color:#FFFFFF">View Daily</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="" class="btn btn-w-md btn-success btn-rounded" ng-click="chartReload(1,0)" style="color:#FFFFFF">View Weekly</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="" class="btn btn-w-md btn-success btn-rounded" ng-click="chartReload(2,0)" style="color:#FFFFFF">View Monthly</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="" class="btn btn-w-md btn-success btn-rounded" ng-click="chartReload(3,0)" style="color:#FFFFFF">View Yearly</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center p-m" style="background:#FFFFFF; color:#000000">
                        <div id="chartd" class="m-t-xs"></div>
                        <div id="button">
                            <a href="" class="btn btn-w-md btn-primary btn-squared" onclick="toLine(0)" style="color:#000000" >Line Graph</a>
                            <a href="" class="btn btn-w-md btn-primary btn-squared" onclick="toBar(0)" style="color:#000000">Bar Graph</a>
                            <a href="" class="btn btn-w-md btn-primary btn-squared" onclick="toSpline(0)" style="color:#000000">Spline Graph</a>
                        </div>
                    </div>
                    <div class="panel-header text-center p-m">
                        <div class="panel-heading">
                            <h4>Comparison Graph</h4>
                            <h5>Select a time period to add data series, remember to reselect networks or nodes first</h5>
                            <h5>Click Clear Chart to clean the chart canvas, then you can do new comparisons</h5>
                            <a href="" class="btn btn-w-md btn-success btn-rounded" onclick="chart2.unload()" style="color:#FFFFFF">Clear Chart</a>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="" class="btn btn-w-md btn-success btn-rounded" ng-click="chartLoad(0,1)" style="color:#FFFFFF">View Daily</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="" class="btn btn-w-md btn-success btn-rounded" ng-click="chartLoad(1,1)" style="color:#FFFFFF">View Weekly</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="" class="btn btn-w-md btn-success btn-rounded" ng-click="chartLoad(2,1)" style="color:#FFFFFF">View Monthly</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="" class="btn btn-w-md btn-success btn-rounded" ng-click="chartLoad(3,1)" style="color:#FFFFFF">View Yearly</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center p-m" style="background:#FFFFFF; color:#000000;">
                        <div id="chartd2" class="m-t-xs"></div>
                        <div id="button2">
                            <a href="" class="btn btn-w-md btn-primary btn-squared" onclick="toLine(1)" style="color:#000000">Line Graph</a>
                            <a href="" class="btn btn-w-md btn-primary btn-squared" onclick="toBar(1)" style="color:#000000">Bar Graph</a>
                            <a href="" class="btn btn-w-md btn-primary btn-squared" onclick="toSpline(1)" style="color:#000000">Spline Graph</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End main content-->
