<!-- Main content-->
<section class="content" ng-controller="thingularCtrl">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-comment"></i>
                    </div>
                    <div class="header-title">
                        <h3 class="m-b-xs">Data Feed</h3>
                        <small>
                            Live messaging using WebSocket, you can either chat here, sync data, or watching live data feed.
                        </small>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="row feedbar" ng-scrollbars ng-scrollbars-config="c_config">
            <div class="col-sm-12"  style="">
                <ul id="messages">
                    <li ng-repeat="msg in feed track by $index">{{msg}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form id="chat_app" action="" style="margin-top:0px;color:#000000">
                    <input id="chat_input" autocomplete="off" /><button>Send</button>
                </form>
            </div>
        </div>

    </div>
</section>
<!-- End main content-->
