<!-- Main content-->
<section class="content" ng-controller="thingularCtrl">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-global"></i>
                    </div>
                    <div class="header-title">
                        <h3 class="m-b-xs">Live Map</h3>
                        <small>
                            Overview of GPS physical locations of sensor nodes with live updates NOTE: this page is not fully implemented yet,
                            currently it only displays St Lucia Main Network
                        </small>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <openlayers lat="-27.4992" lon="153.0162" zoom="17" width="100%" height="600px">
                    <ol-marker ol-marker-properties="Node1"></ol-marker>
                    <ol-marker ol-marker-properties="Node2"></ol-marker>
                    <ol-marker ol-marker-properties="Node3"></ol-marker>
                    <ol-marker ol-marker-properties="Node4"></ol-marker>
                    <ol-marker ol-marker-properties="NodeTest"></ol-marker>
                </openlayers>
            </div>
        </div>
    </div>
</section>
<!-- End main content-->
