<!-- Main content-->
<section class="content" ng-controller="thingularCtrl">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-center" style="height:0; overflow:visible;">
            <h1 style="color: #f6a821;font-size: 50px;">Thingular</h1>
        </div>
    </div>
    <div class="container-center animated slideInDown">
        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-unlock"></i>
            </div>
            <div class="header-title">
                <h3>Login</h3>
                <small>
                    Please enter your credentials to login.
                </small>
            </div>
        </div>

        <div class="panel panel-filled">
            <div class="panel-body">
                <form id="loginForm" ng-submit="login()">
                    <div class="form-group">
                        <label class="control-label" for="email">Email</label>
                        <input type="text" placeholder="example@gmail.com" title="Please enter you email" required=""
                               value="" name="email" id="email" class="form-control" ng-model="email" strictemail>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">Password</label>
                        <input type="password" title="Please enter your password" placeholder="*********" required=""
                               value="" name="password" id="password" class="form-control" ng-model="password" ng-minlength="6" ng-maxlength="18">
                        <p class="text-right"><a ui-sref="test.reset">Forgot your password?</a></p>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label> <input type="checkbox" name="remember" id="remember" ng-model="remember" ng-checked="true"> Remember Me </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <button class="btn btn-accent" type="submit"  ladda="submit" data-style="expand-right">Login</button>
                        </div>
                        <div class="col-sm-4 col-sm-offset-4 text-right">
                            <a class="btn btn-default" ui-sref="test.signup">Sign Up</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<!-- End main content-->