<!-- Main content-->
<section class="content" ng-controller="thingularCtrl">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-science"></i>
                    </div>
                    <div class="header-title">
                        <h3 class="m-b-xs">ThinkScript</h3>
                        <small>
                            Live execution of python script in a remote python shell
                        </small>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div id="terminal-container"></div>


    </div>
</section>
<!-- End main content-->
