<!-- Main content-->
<section class="content"  ng-controller="thingularCtrl">
    <div class="container-center lg animated slideInDown"  style="margin: 0% auto 0;">
        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-add-user"></i>
            </div>
            <div class="header-title">
                <h3>Register</h3>
                <small>
                    Please enter your details to sign up.
                </small>
            </div>
        </div>

        <div class="panel panel-filled">
            <div class="panel-body">
                <p>

                </p>
                <form ng-submit="signup()" id="loginForm">
                    <div class="row text-center">
                        <div class="form-group col-lg-6 col-lg-offset-3">
                            <label>Email</label>
                            <input type="" value="" id="email" class="form-control" name="email" ng-model="email" strictemail required="">
                            <span class="help-block small"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>Password</label>
                            <input type="password" value="" id="password" class="form-control" name="password" ng-model="password"
                                    required="" required-notification="Password must contain 6-18 characters" ng-minlength="6"
                                    ng-maxlength="18">
                            <span class="help-block small"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Repeat Password</label>
                            <input type="password" value="" id="repeatpassword" class="form-control" ng-model="repeatpassword"
                                   equalto="password" name="repeatpassword" required="" required-notification="Please repeat your pasword">
                            <span class="help-block small"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>First Name</label>
                            <input type="" value="" id="firstName" class="form-control" name="firstName" ng-model="firstName" required
                                   ng-maxlength="18">
                            <span class="help-block small"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Last Name</label>
                            <input type="" value="" id="lastName" class="form-control" name="lastName"  ng-model="lastName" required
                                   ng-maxlength="18">
                            <span class="help-block small"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <button class="btn btn-accent" type="submit" ladda="submit" data-style="expand-right">Register</button>
                        </div>
                        <div class="col-sm-4 col-sm-offset-4 text-right">
                            <a class="btn btn-default" ui-sref="test.login">Back to login</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<!-- End main content-->