<!-- Main content-->
<section class="content" ng-controller="thingularCtrl">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-config"></i>
                    </div>
                    <div class="header-title">
                        <h3 class="m-b-xs">Register Triggers</h3>
                        <small>
                            Register a new trigger, alarm and script will be triggered once a threshold is reached
                        </small>
                    </div>
                </div>
                <hr>
            </div>
        </div>


        <form ng-submit="registerTrigger()">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Network</label>
                        <select class="form-control" ng-model="rtrNetwork">
                            <option ng-repeat="network in user.networks" value="{{$index}}">{{network.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Node</label>
                        <select class="form-control" ng-model="rtrNode">
                            <option ng-repeat="node in user.networks[rtrNetwork].nodes" value="{{$index}}">{{node.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group"><label for="rtrType" class="control-label">Data Type</label>
                        <div><input ng-model="rtrType" type="text" class="form-control" id="rtrType" placeholder="Data Type, only one allowed for each trigger"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group"><label for="rtrComp" class="control-label">Compare</label>
                        <div><input ng-model="rtrComp" type="text" class="form-control" id="rtrComp" placeholder="Trigger when -1:Smaller, 0:Equal, 1:Bigger"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group"><label for="rtrValue" class="control-label">Value</label>
                        <div><input ng-model="rtrValue" type="text" class="form-control" id="rtrValue" placeholder="Value to be compared to"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group"><label for="rtrScript" class="control-label">Script</label>
                        <div><input ng-model="rtrScript" type="text" class="form-control" id="rtrScript" placeholder="Script to be executed"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-accent" type="submit"  ladda="submit" data-style="expand-right"  style="color:#FFFFFF">Register Trigger</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- End main content-->
