<!-- Main content-->
<section class="content" ng-controller="thingularCtrl">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-config"></i>
                    </div>
                    <div class="header-title">
                        <h3 class="m-b-xs">View Trigger</h3>
                        <small>
                            View a list of triggers that you have, for comparison types, 1:Greater Than, 0:Equal To, -1:Smaller Than
                        </small>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table ng-repeat="network in user.networks" class="table table-hover table-striped table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>Network ID</th>
                            <th>Node ID</th>
                            <th>Data Type</th>
                            <th>Comparison</th>
                            <th>Value</th>
                            <th>Script</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="node in network.nodes">
                            <tr ng-repeat="trigger in node.triggers">
                                <td>{{network.networkID}}</td>
                                <td>{{node.nodeID}}</td>
                                <td>{{trigger.dataType}}</td>
                                <td>{{trigger.compare}}</td>
                                <td>{{trigger.value}}</td>
                                <td>{{trigger.script}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End main content-->
